stm32f103/build/
stm32f103/output/rf_controller.bin
stm32f103_baremetal/output/
stm32f103_baremetal/build/
stm32f100_puf/build/
stm32f100_puf/output/
stm32f100_storage/.settings/
stm32f100_storage/build/
stm32f100_storage/output/puf_MK22FN256VLH12.bin
stm32f100_storage/output/puf_MK22FN256VLH12.hex
*.bin
stm32f100_storage/output/
nrf51822/build/
nrf_rexos/.settings/
nrf_rexos/build/
nrf51822/.settings/
stm32f100_CoCo/build/
stm32f100_CoCo/.settings/
stm32f100_CoCo/output/
stm32h743_baremetal/.settings/
stm32h743_baremetal/build/
stm32h7_rexos/build/
stm32h7_rexos/.settings/
